<div class="panel panel-default tile panelClose panelRefresh">
    <!-- Start .panel -->
    <div class="panel-heading">
        <h4 class="panel-title">Profit this month</h4>
    </div>
    <div class="panel-body pt0">
        <div class="progressbar-stats-1 dark">
            <div class="stats">
                <i class="l-banknote"></i>
                <div class="stats-number money" data-from="0" data-to="24568">0</div>
            </div>
            <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="55"></div>
            </div>
            <div class="comparison">
                <p class="mb0"><i class="fa fa-arrow-circle-o-down s20 mr5 pull-left"></i> 1% down from last month</p>
            </div>
        </div>
    </div>
</div>