<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <p class="pull-left">
        Copyrights &copy; 2014 <a href="http://cooperchip.com.br" class="color-blue strong" target="_blank">Cooperchip, Inc</a>. Todos os direitos reservados.
    </p>
    <p class="pull-right">
        <a href="#" class="mr5">Termos de uso</a>
        |
        <a href="#" class="ml5 mr25">Política de privacidade</a>
    </p>
</div>