


<li>
    <a asp-controller="Home" asp-action="Index"><i class="l-basic-home"></i><span class="txt">Home</span></a>
</li>

<li>
    <a asp-controller="Home" asp-action="Dashboard"><i class="l-basic-laptop"></i><span class="txt">Dashboard</span></a>
</li>

@*<li>
    <a asp-controller="Home" asp-action="Contato"><i class="l-basic-mail"></i><span class="txt">Fale Conosco</span></a>
</li>*@

<li>
    <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Demo - Rotas</span></a>
    <ul class="sub">
        <li>
            <a asp-controller="Home" asp-action="Index"><span class="txt">Home</span></a>
        </li>

        <li>
            <a asp-controller="Home" asp-action="Privacy"><span class="txt">Privacidade </span></a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Error"><span class="txt">Erro </span></a>
        </li>
    </ul>
</li>



@*
<li>
    <a href="#"><i class="l-ecommerce-graph3"></i><span class="tex">Cadastro</span> </a>
    <ul class="sub">
        <li>
            <a asp-controller="Paciente" asp-action="Index"><i class="l-basic-chronometer"></i><span class="txt">Pacientes</span></a>
        </li>

        <li>
            <a asp-area="" asp-controller="Triagem" asp-action="Index"><span class="txt">Notif. Triagem</span></a>
        </li>

        <li>
            <a asp-controller="EstadoPaciente" asp-action="Index"><i class="l-basic-accelerator"></i><span class="txt">Estado Pacientes</span></a>
        </li>

        <li>
            <a asp-controller="Generico" asp-action="Index"><i class="l-basic-accelerator"></i><span class="txt">Lista Genérico</span></a>
        </li>

        <li>
            <a asp-controller="Cid" asp-action="Index"><i class="l-basic-heart"></i><span class="txt">Lista Cid</span></a>
        </li>

    </ul>
</li>*@

@*<li>
    <a asp-controller="Config" asp-action="MenuConfig"><i class="l-basic-todo-pencil"></i><span class="txt">Config</span></a>
</li>

<li>
    <a asp-controller="CodePage" asp-action="Index"><i class="l-basic-todo-pencil"></i><span class="txt">Code Page</span></a>
</li>


<li>
    <a asp-controller="LoggerSample" asp-action="Index"><i class="l-basic-notebook-pencil"></i><span class="txt">Auditoria</span></a>
</li>*@


