<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
        Copyrights &copy; 2014 <a href="https://www.linkedin.com/in/thiago-facchini-casa-2580b313a/" class="color-blue strong" target="_blank">ThinKsaDev</a>. Todos os direitos reservados.
    </p>
    <p class="pull-right">
        <a href="#" class="mr5">Terms of use</a>
        |
        <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
</div>