@model ThinKsaDev.ItDeveloper.Domain.Entities.PatientState

@{
    ViewData["Title"] = "Detalhes de Estado do Paciente";
}

<partial name="PartialViews/_header" />

<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Estado de Paciente</h3>
    </div>

    <div class="panel panel-body">
        <div>
            <h3>PatientState</h3>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-controller="PatientState" class="btn btn-success" asp-action="Editar" asp-route-id="@Model.Id">Edit</a>
            <a asp-controller="PatientState" class="btn btn-default" asp-action="Index">Voltar para Lista</a>
        </div>

    </div>

</div>
