@model ThinKsaDev.ItDeveloper.Domain.Entities.PatientState

@{
    ViewData["Title"] = "Editar Estado do Paciente";
}

<partial name="PartialViews/_header" />

<div class="panel panel-success panel-controls">
    <div class="panel panel-heading">
        <h3>Editar Estado do Paciente</h3>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="PatientState" asp-action="Edit">

                <input type="hidden" asp-for="Id" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" placeholder="Digite a descrição..." class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Editar Estado Paciente" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-default" asp-controller="PatientState" asp-action="Index">Voltar para Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
